In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [109]:
df = pd.read_csv('../../saskia/data.csv')
df = df[['cluster', 'context', 'produced']]
df = df.iloc[:175]
df = df.apply(pd.to_numeric)

In [110]:
df

     cluster  context  produced
0          1        1         2
1          1        1         2
2          1        1         2
3          1        1         1
4          1        1         2
..       ...      ...       ...
170        7        2         1
171        7        2         1
172        7        2         2
173        7        2         1
174        7        2         1

[175 rows x 3 columns]

In [102]:
df['context'].value_counts()

1    88
2    87
Name: context, dtype: int64

In [74]:
min_pair = df.loc[df['context'] == 1]
con_rand = df.loc[df['context'] == 2]

x = min_pair['context'].values.tolist()
y = con_rand['context'].values.tolist()

In [ ]:
###### labels = ['Minimal Pair', 'Random Pair']

fig, ax = plt.subplots(figsize=[8,5])
ax.set_title('Context')
bars = ax.bar(labels, [len(x), len(y)], width=0.5, align='center', color='k')
ax.bar_label(bars, labels=[len(x),len(y)], padding=8, color='k', fontsize=14)
ax.set_ylim(top=100)

plt.xlim(-0.5, len(labels) - 1+0.5)
plt.ylim(0, len(x) * 1.2)

plt.show()